body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
	background: none;
	background: url(img/app__wallpaper.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.btn {
	border: none;
	border-bottom: 6px solid !important;
}

.btn-primary {
	border-bottom-color: #0061ca !important;
}

.btn-primary:hover {
	border-bottom-color: #004ea3 !important;
}

.shadow {
	-webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important;
}

.h1, .h2, .h3, .h4, .h5 {
	font-family: 'IM Fell English', serif;
}