.player-card {
	width: 100%;
}

.btn-light {
	border-bottom: 2px solid !important;
	border-bottom-color: #e1e1e1 !important;
}

.btn-light:hover {
	border-bottom-color: #bcbcbc !important;
}

.player-card:not(:disabled):not(.disabled).active {
	position: relative !important;
	top: 5px !important;
	-webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.35)!important;
   box-shadow: 0 .125rem .25rem rgba(0,0,0,.35)!important;
   border-bottom-color: #b1b1b1 !important;
}